/*@import 'tailwindcss';*/

/* Import fonts */
@import './fonts.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

* {
    font-family: 'Estedad' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html[dir="rtl"], body[dir="rtl"] {
    font-family: 'Estedad', sans-serif;
    direction: rtl;
    text-align: right;
}

/* Vuetify RTL Support */
.v-application[dir="rtl"] {
    direction: rtl;
}

.v-application[dir="rtl"] .v-list-item__prepend {
    margin-right: 0;
    margin-left: 12px;
}

.v-application[dir="rtl"] .v-list-item__append {
    margin-left: 0;
    margin-right: 12px;
}

.v-application[dir="rtl"] .v-btn__prepend {
    margin-right: 0;
    margin-left: 8px;
}

.v-application[dir="rtl"] .v-btn__append {
    margin-left: 0;
    margin-right: 8px;
}

.v-application[dir="rtl"] .v-text-field .v-field__input {
    text-align: right;
}

.v-application[dir="rtl"] .v-data-table .v-data-table__td {
    text-align: right;
}

.v-application[dir="rtl"] .v-card-title {
    text-align: right;
}

.v-application[dir="rtl"] .v-card-text {
    text-align: right;
}

th {
    color: rgb(95, 95, 95)
}

.zo-label {
    display: block;
    margin: 0 0 2.5px;
    font-family: 'Estedad';
    font-size: .95rem;
    font-weight: 500
}

.zo-price del {
    position: relative;
    text-decoration: none;
}

.zo-price del:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 10px;
    left: 0;
    background: rgb(90, 90, 90);
    transform: rotate(-15deg)
}

.zo-status {
    width: 100px;
    display: block;
    margin: auto;
    padding: 3.5px 15px;
    border-radius: 300px;
    box-shadow: 0 1.5px 15px rgba(0, 0, 0, .15)
}

.zo-publish,
.zo-active {
    background: rgba(5, 105, 60);
    color: rgb(255, 255, 255)
}

.zo-pending {
    background: rgba(105, 60, 5);
    color: rgb(255, 255, 255)
}

.zo-draft {
    background: rgba(150, 90, 5, .15);
    color: rgb(150, 90, 5);
}

.zo-archive {
    background: rgba(0, 0, 0, .15);
    color: rgb(45, 45, 45);
}

.zo-deactive {
    background: rgba(150, 90, 5, .15);
    color: rgb(150, 90, 5);
}

.zo-suspended {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.status-temporary_ban {
    width: 100px;
    display: inline-block;
    padding: 3.5px 15px;
    background: rgba(150, 90, 5, .15);
    color: rgb(150, 90, 5);
    border-radius: 2px
}

.status-ban {
    width: 100px;
    display: inline-block;
    padding: 3.5px 15px;
    background: rgba(255, 0, 0, 0.15);
    color: rgb(255, 0, 0);
    border-radius: 2px
}

.zo-header-section .zo-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.zo-header-section .zo-info .zo-icon {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(5, 105, 60, .10);
    color: rgb(5, 105, 60);
    border: 2px solid rgb(5, 105, 60);
    border-radius: 50%;
}

.zo-header-section .zo-info .zo-icon i {
    font-size: 1.5rem
}

@media (max-width: 1280px) {

    .zo-header-section .zo-add {
        width: 100%;
    }
}

.zo-main .v-pagination {
    margin: 15px -15px -15px;
    padding: 5px 0 7.5px;
    background: rgb(245, 245, 245);
    border-top: 1px solid rgb(235, 235, 235)
}

.zo-main .v-pagination .v-pagination__list {
    align-items: center
}

.zo-main .v-pagination .v-pagination__list .v-pagination__item {
    margin: 0 1.5px
}

.zo-main .v-pagination .v-pagination__list .v-pagination__item .v-btn {
    font-size: .95rem
}

.v-file-upload .v-file-upload-title {
    font-size: 1rem;
    font-weight: 500
}

.zo-drawer-section .v-list .v-list-item .v-list-item__prepend {
    width: 35px;
}

.zo-drawer-section .v-list .v-list-item .v-list-item__append {
    position: relative;
    left: -10px
}

.zo-drawer-section .v-list .v-list-group .v-list-group__items .v-list-item {
    min-height: 40px;
    padding: 0 30px 0 0 !important;
}

.zo-drawer-section .v-list .v-list-group .v-list-group__items .v-list-item .v-list-item-title {
    font-size: .95rem
}

.zo-drawer-section .zo-logo {
    margin: 15px auto;
    text-align: center
}

.zo-drawer-section .zo-logo img {
    margin: 0 auto;
}

.zo-drawer-section .zo-social {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 15px 0;
}

.zo-drawer-section .zo-social li {
    display: inline-block;
}

.zo-drawer-section .zo-social li .v-btn {
    min-width: 35px;
    min-height: 35px;
    padding: 0;
    border-radius: 50%;
}

.tox-notifications-container,
.tox-bottom-anchorbar,
.tox-statusbar {
    display: none !important;
    opacity: 0;
    visibility: hidden
}

.tox-tinymce {
    border: 1px solid #ababab !important;
    border-radius: 4px !important
}
